<div class="row py-2">
  <div class="col-12">
    <!--            <a class="btn btn-success" method="post" th:href="@{product/add}">Add ru.karaban.persist.Product</a>-->
    <a class="btn btn-success" href="#">Add Product</a>

  </div>

  <div class="col-12">
    <table class="table table-bordered my-2">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Cost</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Milk</td>
        <td>100</td>
        <td>
          <a class="btn btn-success" href="#"><i class="fas fa-edit"></i></a>
          <a class="btn btn-danger"  href="#"><i class="far fa-trash-alt"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
